body {
  text-align: center;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

object {
  padding: 0;
  margin: 5px;
  border: 1px solid steelblue;
  background-color: gray;
  touch-action: none;
  display: block;
  min-height: 0;
}
